<div>
    <div class="sidebar-block">
    <div class="row">
 
    <div class="col-8 p-2">

        <div>
            <span class="fa fa-star checked m-1"></span>
            <span class="fa fa-star checked m-1"></span>
            <span class="fa fa-star checked m-1"></span>
            <span class="fa fa-star m-1 "></span>
            <span class="fa fa-star m-1 "></span>

        </div>
        <p>doctor reviews</p>
        <p>he is aperfect docotr he is aperfect docotr
            he is aperfect docotr he is aperfect docotr he is aperfect docotr 
            he is aperfect docotr he is aperfect docotr</p>
            <div>
                <p class="p-0 m-0"><small>patient: sayed marey</small></p>
                <p>patient: sayed marey</p>
            </div>
    </div>

    <div class="col-4 p-5">
       <div class="p-3">
        <span class="bg-primary rounded p-2 ml-3 square text-white h4 "> 04 </span>
        <p  class="mt-3">Doctor's rate</p>
       </div>
      </div>
       
    </div>
    <hr/> 
    <div class="row">
 
        <div class="col-8 p-2">

            <div>
                <span class="fa fa-star checked m-1"></span>
                <span class="fa fa-star checked m-1"></span>
                <span class="fa fa-star checked m-1"></span>
                <span class="fa fa-star m-1 "></span>
                <span class="fa fa-star m-1 "></span>

            </div>
            <p>doctor reviews</p>
            <p>he is aperfect docotr he is aperfect docotr
                he is aperfect docotr he is aperfect docotr he is aperfect docotr 
                he is aperfect docotr he is aperfect docotr</p>
                <div>
                    <p class="p-0 m-0"><small>patient: sayed marey</small></p>
                    <p>patient: sayed marey</p>
                </div>
        </div>

        <div class="col-4 p-5">
           <div class="p-3">
            <span class="bg-primary rounded p-2 ml-3 square text-white h4 "> 04 </span>
            <p  class="mt-3">Doctor's rate</p>
           </div>
          </div>
           
        </div>

        <hr/> 
        <div class="row">
     
            <div class="col-8 p-2">

                <div>
                    <span class="fa fa-star checked m-1"></span>
                    <span class="fa fa-star checked m-1"></span>
                    <span class="fa fa-star checked m-1"></span>
                    <span class="fa fa-star m-1 "></span>
                    <span class="fa fa-star m-1 "></span>

                </div>
                <p>doctor reviews</p>
                <p>he is aperfect docotr he is aperfect docotr
                    he is aperfect docotr he is aperfect docotr he is aperfect docotr 
                    he is aperfect docotr he is aperfect docotr</p>
                    <div>
                        <p class="p-0 m-0"><small>patient: sayed marey</small></p>
                        <p>patient: sayed marey</p>
                    </div>
            </div>

            <div class="col-4 p-5">
               <div class="p-3">
                <span class="bg-primary rounded p-2 ml-3 square text-white h4 "> 04 </span>
                <p  class="mt-3">Doctor's rate</p>
               </div>
              </div>
               
            </div>

            <hr/> 
            <div class="row">
         
                <div class="col-8 p-2">
    
                    <div>
                        <span class="fa fa-star checked m-1"></span>
                        <span class="fa fa-star checked m-1"></span>
                        <span class="fa fa-star checked m-1"></span>
                        <span class="fa fa-star m-1 "></span>
                        <span class="fa fa-star m-1 "></span>
    
                    </div>
                    <p>doctor reviews</p>
                    <p>he is aperfect docotr he is aperfect docotr
                        he is aperfect docotr he is aperfect docotr he is aperfect docotr 
                        he is aperfect docotr he is aperfect docotr</p>
                        <div>
                            <p class="p-0 m-0"><small>patient: sayed marey</small></p>
                            <p>patient: sayed marey</p>
                        </div>
                </div>
    
                <div class="col-4 p-5">
                   <div class="p-3">
                    <span class="bg-primary rounded p-2 ml-3 square text-white h4 "> 04 </span>
                    <p  class="mt-3">Doctor's rate</p>
                   </div>
                  </div>
                   
                </div>

                <hr/> 
                <div class="row">
             
                    <div class="col-8 p-2">
        
                        <div>
                            <span class="fa fa-star checked m-1"></span>
                            <span class="fa fa-star checked m-1"></span>
                            <span class="fa fa-star checked m-1"></span>
                            <span class="fa fa-star m-1 "></span>
                            <span class="fa fa-star m-1 "></span>
        
                        </div>
                        <p>doctor reviews</p>
                        <p>he is aperfect docotr he is aperfect docotr
                            he is aperfect docotr he is aperfect docotr he is aperfect docotr 
                            he is aperfect docotr he is aperfect docotr</p>
                            <div>
                                <p class="p-0 m-0"><small>patient: sayed marey</small></p>
                                <p>patient: sayed marey</p>
                            </div>
                    </div>
        
                    <div class="col-4 p-5">
                       <div class="p-3">
                        <span class="bg-primary rounded p-2 ml-3 square text-white h4 "> 04 </span>
                        <p  class="mt-3">Doctor's rate</p>
                       </div>
                      </div>
                       
                    </div>

                    <hr/> 
                    <div class="row">
                 
                        <div class="col-8 p-2">
            
                            <div>
                                <span class="fa fa-star checked m-1"></span>
                                <span class="fa fa-star checked m-1"></span>
                                <span class="fa fa-star checked m-1"></span>
                                <span class="fa fa-star m-1 "></span>
                                <span class="fa fa-star m-1 "></span>
            
                            </div>
                            <p>doctor reviews</p>
                            <p>he is aperfect docotr he is aperfect docotr
                                he is aperfect docotr he is aperfect docotr he is aperfect docotr 
                                he is aperfect docotr he is aperfect docotr</p>
                                <div>
                                    <p class="p-0 m-0"><small>patient: sayed marey</small></p>
                                    <p>patient: sayed marey</p>
                                </div>
                        </div>
            
                        <div class="col-4 p-5">
                           <div class="p-3">
                            <span class="bg-primary rounded p-2 ml-3 square text-white h4 "> 04 </span>
                            <p  class="mt-3">Doctor's rate</p>
                           </div>
                          </div>
                           
                        </div>

                        <hr/> 
                        <div class="row">
                     
                            <div class="col-8 p-2">
                
                                <div>
                                    <span class="fa fa-star checked m-1"></span>
                                    <span class="fa fa-star checked m-1"></span>
                                    <span class="fa fa-star checked m-1"></span>
                                    <span class="fa fa-star m-1 "></span>
                                    <span class="fa fa-star m-1 "></span>
                
                                </div>
                                <p>doctor reviews</p>
                                <p>he is aperfect docotr he is aperfect docotr
                                    he is aperfect docotr he is aperfect docotr he is aperfect docotr 
                                    he is aperfect docotr he is aperfect docotr</p>
                                    <div>
                                        <p class="p-0 m-0"><small>patient: sayed marey</small></p>
                                        <p>patient: sayed marey</p>
                                    </div>
                            </div>
                
                            <div class="col-4 p-5">
                               <div class="p-3">
                                <span class="bg-primary rounded p-2 ml-3 square text-white h4 "> 04 </span>
                                <p  class="mt-3">Doctor's rate</p>
                               </div>
                              </div>
                               
                            </div>
         
</div>



</div>