<div class="container p-4">
    <div class="row" style="background-color: #E2E6EA;">
    
    
   
        <!-- the doctors cards-->
     <div class="col-7 p-2">
        <div class="p-2">
            <div class="sidebar-block">
               <div class="row "><!--first div-->
                   <div class="rounded col-4 " ><!--photo-->
                    <img src="../assets/img/bg-doctor.png" style="height:300px;"  class="img-fluid rounded-start" alt="...">
                </div>
                   <div class="col-7 "><!--details-->
                   <div class="d-flex justify-content-between p-2">
                       <span>Dr: amr ayman aboelanwar</span>
                       <span>12523 view</span>
                   </div>
                   <h5>doctor on grahet elawram</h5>
                   <span> hello master hello master hello master hello master
                    hello master hello master hello master hello master
                    hello master hello master hello master hello master
                    hello master hello master hello master hello master
                    hello master hello master hello master hello master
                    hello master hello master hello master hello master
                    hello master hello master hello master hello master
                    hello master hello master hello master hello master
                    hello master hello master hello master hello master
                    hello master hello master hello master hello master<span class="text-primary">...more</span>
                </span>

                
               <div class="p-4"><!--second div-->
                <div class="d-flex justify-content-around w-75"><!--first inner div-->
                  <span>all ranked from 16 client 13.2</span>
                  <div  class="mr-2 ">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>

                </div>
                </div>
                <div><!--second inner div--></div>
            </div>
                </div>
               </div>


            </div>
        </div>

        <!--info about doctor-->

        <div>
            <div class="sidebar-block">
                <h3 class="sidebar-title">Inforamaion</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!<span class="text-primary">...more</span></p>
              </div>
        </div>
<!--doctor reviews -->
    <app-doctor-reviews></app-doctor-reviews>
    
    </div>

         <!-- filter menu -->
         <div class=" col-5 p-2">
            <div class="p-2 rounded">
              <p class="bg-primary rounded-top p-1 text-center text-white">book now</p>
       
           </div>
           
    </div>
